body{
    background-color: lightgray
}
#topPhoto{
    width:100%;
}

.btn-warning{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.col-lg-4,
.col-lg-8 {
    padding: 0;
    
}
#sport-form{
    margin-top: 10px;   
}
